@charset "UTF-8";
@import
	url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Hi+Melody&display=swap')
	;
	
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Edu VIC WA NT Beginner', cursive;
	font-family: 'Hi Melody', cursive;
}

/*service  시작 css*/
/*큰틀*/
#service_main{
	overflow:hidden;
	margin-bottom: 30px;
}
#service_main_center{
	overflow: hidden;
	width:900px;
	padding: 20px 0 20px 30px;
}

/*왼쪽 사이드 파트 시작*/
#service_aside{
	position: relative;	
	float: left;
	width:175px;
	margin:20px 0px 0px 25px;
}

#service_aside_header{
	text-align:center;
	padding: 12px 0px 12px 0px;
	background-color: #ECEAEA;
}

#service_aside_header>a{
	text-decoration: none;
	color: black;
}

aside>ul{
	background-color: #FFFFFF;
	border: 1px solid #ECEAEA;
}

aside>ul>li{
	font-size: 20px;
	border-top: 1px solid #ECEAEA;
	display: block;
}

.a_on{ /* 선택한 리스트 색깔 부여*/
	background-color: #fff4ab;
}
aside>ul>li>a{
	text-decoration: none;
	display: block;
	color:#555454;
	font-size: 18px;
	font-weight: 700;
	padding: 10px 0px 15px 10px;
}
aside>ul>li:hover{
	background-color: 	#fff9d4;
}

aside>ul>li>a:active{
	color:#FFFFFF;
}
/*왼쪽 사이드 파트 끝*/

#service_main_page{
	position: relative;
	width:100%;
	float: left;
}

#service_main_title{
	font-size: 56px;
	font-weight:700;
	color:black;
}

#service_main_box{/*자주 묻는 질문 4 div*/
	width:auto;
	height: auto;
	margin-top: 45px;
}

#service_main_box>ul{
	text-align: center;
}

.service_main_qbox{/*자주 묻는 질문 4 박스*/
	width:150px;
	height: 100px;
	border: 1px solid #D3D3D3;
	display: inline-block;
	margin-right: 15px;
	text-align: center;
	line-height: 100px;
}

.service_main_qbox>a{
	display: block;;
	font-size: 22px;
	text-decoration: none;
	color:black;
}

.service_main_qbox>a:hover{
	background-color: #f8e6e0;
	color:#FFFFFF;
}

#service_main_qlist{/* 자주묻는 질문 카테고리 div*/
	width:auto;
	height: auto;
	margin-top: 45px;
}

#service_main_qlist>ul{
	text-align: center;
}

.service_main_kategori{/* 자주묻는 질문 카테고리 분류별 공간주기*/
	width:150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border: 1px solid #D3D3D3;
	display: inline-block;
	margin-left: -1px;
	font-size: 22px;
	color:black;
	cursor: pointer;
}


.service_main_kategori.current{/* 선택된 항목 글씨 배경변경*/
	background-color: #f8e6e0;
	color:#FFFFFF;
}

.service_faqlist{
	display:none;
	width:auto;
	margin-top: 50px;
}

.service_faqlist.current{
	display:inherit;
}

#service_faqlist_top{
	width:100%;
	border-top: 1px solid;
	border-bottom: 1px solid #D3D3D3;
	overflow: hidden;
}

#service_faqlist_top>div{
	float:left;
	font-size: 20px;
	margin: 0;
	padding: 15px;
	text-align: center;
	
}

#service_faqlist_lower{
	border-bottom: 1px solid;
}

#service_faqlist_num{
	border-top: 1px solid #D3D3D3;	
	overflow: hidden;
}

#service_faqlist_num:first-child{
	border-top: 0;	
}

#service_faqlist_lower>dt>div{
	float:left;
	font-size: 32px;
	margin: 0;
	padding: 10px;
}

#faq_list_td1{
	width:150px;
}

#faq_list_td2{
	width:500px;
}

#faq_list_td3{
	width:150px;
}


/*service 끝 css*/
#container{
   width:1200px; /* 너비 1200px로 지정 */
   margin: 0 auto; /*auto으로 화면 중앙에 배치*/
}
header {
   width: 100%; /* 너비 */
   height: 130px; /* 높이 */
   background-color: rgba(255, 235, 98); /* 백그라운드 컬러 지정 */
}
#tm{
   height: 90px; /* 높이 90px로 지정*/
}

#logoimg{
   height: 80px; /* 로고 이미지를 80px로 지정 */
}
ul {
   list-style: none; /* ul의 리스트 스타일을 없음으로 지정 */
}
#topmenu {
   height: 50px; /* 높이 50px로 지정 */
   float: right; /* 오른쪽 정렬 */
}
#topmenu>li {
   float: left; /* 메뉴 항목을 오른쪽으로 플로팅 */
   position: relative; /* 서브메뉴를 absolute로 만들기 위해 부모요소를 relative로 지정*/
}
#topmenu>li>a {
   color: black; /* 폰트 색상 */
   padding-right: 10px; /* 패딩 지정 */
   padding-bottom: 10px; 
   text-decoration: none;
   font-size: 15px;
   
}
#toplist>a{
   color: black; /* 폰트 색상 */
   padding-right: 10px; /* 패딩 지정 */
   padding-bottom: 10px; 
   text-decoration: none;
   font-size: 15px;
   
}
nav{
	
}
#menu{
	height:40px;
	padding: 4px 0px 10px 0px;
	border-top: 2px solid rgba(38, 38, 38, 0.5); 
	border-bottom: 2px solid rgba(38, 38, 38, 0.5);
	box-shadow: 0 4px 4px -4px gray;
	text-align: center;
	margin:  0 auto;
}
#menu>li {
	float: left; /* 메뉴 항목을 왼쪽으로 플로팅 */
	position: relative; /* 서브메뉴를 absolute로 만들기 위해 부모요소를 relative로 지정*/
	width: 140px;
	
}
#menu>li>a {
	color: black; /* 폰트 색상 */
	font-weight: 300; /* 폰트 굵기 */
	padding: 0px 20px 0px 20px; /* 패딩 지정 */
	font-size: 25px;
	text-decoration: none;
}
#menu>li>ul{
	width: 130px;
	display: none;
	position: absolute;
	font-size: 20px;
	background-color: rgba(255, 235, 98);
	z-index:1;
	border: 0.5px solid black;
}
#menu>li:hover>ul{
	display: block;
}
#menu>li>ul>li:hover{
	background-color: orange;
	transition:ease 1s;
}
#menu>li>ul>li{
	list-style: none;
	border: 0.5px solid black;
}

#menu>li>ul>li>a{
	text-decoration: none;
	color: black;
	line-height: 50px;
}

footer {
	width: 100%; /* 너비 */
	height: 100px; /* 높아 */
	border-top: 1px solid #222; /* 위쪽에 가로선 추가 */
}

#bottomMenu {
	width: 100%;
	height: 20px;
	position: relative;
}

#bottomMenu ul {
	margin-top: 15px;
}

#bottomMenu ul li {
	float: left;
	padding: 5px 20px;
	border-right: 1px solid #ddd;
}

#bottomMenu ul li a, #bottomMenu ul li a:visited {
	font-size: 15px;
	color: #666
}

.img2 {
	width: 25px;
	height: 25px;
	border-radius: 25px;
}

#sns {
	position: absolute;
	right: 0; /* 오른쪽 끝에 배치 */
}

#sns ul li {
	border: none;
	padding: 5px;

}

#company {
	clear: left;
	margin-top: 25px;
	margin-left: 20px
}

p {
	font-size: 14px;
	color: #aaa;
}
