/*이벤트 페이지 메인*/
@charset "UTF-8";
@import
	url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Hi+Melody&display=swap')
	;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Edu VIC WA NT Beginner', cursive;
	font-family: 'Hi Melody', cursive;
}
/*큰틀*/
#eventbon{
	width:1200px;
	margin:auto;
	overflow: hidden;
}

#event-bon-line{
	width:900px;
	overflow: hidden;
	padding-left: 30px;
}

/*본문 카테고리 시작*/

#event-kategori-box{
	margin:30px 0 0 30px;
}
.event-kategorie{
	width:250px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border: 1px solid #D3D3D3;
	display: inline-block;
	margin-left: -1px;
	font-size: 22px;
	color:black;
	cursor: pointer;
}

.event-kategorie.current{
	background-color: #f8e6e0;
	color:#FFFFFF;
}

.event-mainlist{
	display: none;
	width: auto;
	margin-top: 50px;
}

.event-mainlist.current{
	display: inherit;
}

/*본문 카테고리 끝*/

/*본문 내용*/

/*왼쪽 사이드 시작*/
#ls{
	width: 150px;
	height: 700px;
	position: relative;
	float: left;
	margin-left: 15px;
}

.event{
	width: 150px;
	margin-top: 10px;
	margin-right: 10px;
}
#ev1{
	height: 290px; /* 높이*/
}
#ev2{
	height: 180px;
}
#ev3{
	height: 180px;
}

/*왼쪽 사이드 끝*/

#.event-mainlist{
	margin-top: 50px;
}

.event-count-box{
	font-size: 28px;
	overflow: hidden;
}

#eventone{
	list-style: none;
	overflow: hidden;
}


.event-count{
	color:#f89b00;
}

#eventone>li{
	padding:15px 20px 10px 20px;
	position: relative;
	float:left;
	border-bottom: 1px solid #d3d3d3;
	font-size: 20px;
	margin-bottom: 20px;
}

.event_sub_page{
	width:250px;
	display: block;
	text-decoration: none;
}

.event_img{
	width:250px;
	height: 220px;
}

#evp{
	text-align: center;
}

.evp1{
	font-size: 28px;
	line-height: 2;	
	color: black;
}

.evp2{
	font-size: 20px;
	margin:10px;
}
/*본문내용끝*/
/* 이 위에 까지가 이벤트 전용 css*/

#container{
   margin: 0 auto; /*auto으로 화면 중앙에 배치*/
}
header {
   width: 100%; /* 너비 */
   height: 130px; /* 높이 */
   background-color: rgba(255, 235, 98); /* 백그라운드 컬러 지정 */
}
#tm{
   height: 90px; /* 높이 90px로 지정*/
}

#logoimg{
   height: 80px; /* 로고 이미지를 80px로 지정 */
}
ul {
   list-style: none; /* ul의 리스트 스타일을 없음으로 지정 */
}
#topmenu {
   height: 50px; /* 높이 50px로 지정 */
   float: right; /* 오른쪽 정렬 */
}
#topmenu>li {
   float: left; /* 메뉴 항목을 오른쪽으로 플로팅 */
   position: relative; /* 서브메뉴를 absolute로 만들기 위해 부모요소를 relative로 지정*/
}
#topmenu>li>a {
   color: black; /* 폰트 색상 */
   padding-right: 10px; /* 패딩 지정 */
   padding-bottom: 10px; 
   text-decoration: none;
   font-size: 15px;
   
}
#toplist>a{
   color: black; /* 폰트 색상 */
   padding-right: 10px; /* 패딩 지정 */
   padding-bottom: 10px; 
   text-decoration: none;
   font-size: 15px;
   
}

nav{
	
}
#menu{
	height:40px;
	padding: 4px 0px 10px 0px;
	border-top: 2px solid rgba(38, 38, 38, 0.5); 
	border-bottom: 2px solid rgba(38, 38, 38, 0.5);
	box-shadow: 0 4px 4px -4px gray;
	text-align: center;
	margin:  0 auto;
}
#menu>li {
	float: left; /* 메뉴 항목을 왼쪽으로 플로팅 */
	position: relative; /* 서브메뉴를 absolute로 만들기 위해 부모요소를 relative로 지정*/
	width: 140px;
	
}
#menu>li>a {
	color: black; /* 폰트 색상 */
	font-weight: 300; /* 폰트 굵기 */
	padding: 0px 20px 0px 20px; /* 패딩 지정 */
	font-size: 25px;
	text-decoration: none;
}
#menu>li>ul{
	width: 130px;
	display: none;
	position: absolute;
	font-size: 20px;
	background-color: rgba(255, 235, 98);
	z-index:1;
	border: 0.5px solid black;
}
#menu>li:hover>ul{
	display: block;
}
#menu>li>ul>li:hover{
	background-color: orange;
	transition:ease 1s;
}
#menu>li>ul>li{
	list-style: none;
	border: 0.5px solid black;
}

#menu>li>ul>li>a{
	text-decoration: none;
	color: black;
	line-height: 50px;
}

footer {
	width: 100%; /* 너비 */
	height: 100px; /* 높아 */
	border-top: 1px solid #222; /* 위쪽에 가로선 추가 */
}

#bottomMenu {
	width: 100%;
	height: 20px;
	position: relative;
}

#bottomMenu ul {
	margin-top: 15px;
}

#bottomMenu ul li {
	float: left;
	padding: 5px 20px;
	border-right: 1px solid #ddd;
}

#bottomMenu ul li a, #bottomMenu ul li a:visited {
	font-size: 15px;
	color: #666
}

.img2 {
	width: 25px;
	height: 25px;
	border-radius: 25px;
}

#sns {
	position: absolute;
	right: 0; /* 오른쪽 끝에 배치 */
}

#sns ul li {
	border: none;
	padding: 5px;

}

#company {
	clear: left;
	margin-top: 25px;
	margin-left: 20px
}

p {
	font-size: 14px;
	color: #aaa;
}
