@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Hi+Melody&display=swap')
	;
/* 전체 */
* {
	margin: 0; /* 마진값 초기화 */
	padding: 0; /* 패딩값 초기화*/
	box-sizing: border-box; /* 박스 영역은 테투리까지 지정*/
	font-family: sans-serif;
}

#container {
	margin: auto; /*auto으로 화면 중앙에 배치*/
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

#p {
	font-size: 14px;
	color: #aaa;
	position: absolute;
	padding-top: 30px;
}
/* header */
header {
	width: 100%; /* 너비 */
	height: 130px; /* 높이 */
	background-color: rgba(255, 235, 98);
}

#tm {
	height: 90px;
}

#logoimg {
	height: 80px;
}

#topmenu {
	height: 50px;
	float: right;
}

#topmenu>li {
	float: left; /* 메뉴 항목을 오른쪽으로 플로팅 */
}

#topmenu>li>a {
	color: black; /* 폰트 색상 */
	padding-right: 10px; /* 패딩 지정 */
	padding-bottom: 10px;
	text-decoration: none;
	font-size: 15px;
}

#toplist>a {
	color: black; /* 폰트 색상 */
	padding-right: 10px; /* 패딩 지정 */
	padding-bottom: 10px;
	text-decoration: none;
	font-size: 15px;
}

#menu {
	height: 40px;
	padding: 4px 0px 10px 0px;
	border-top: 2px solid rgba(38, 38, 38, 0.5);
	border-bottom: 2px solid rgba(38, 38, 38, 0.5);
	box-shadow: 0 4px 4px -4px gray;
	text-align: center;
	margin: 0 auto;
}

#menu>li {
	float: left; /* 메뉴 항목을 왼쪽으로 플로팅 */
	position: relative; /* 서브메뉴를 absolute로 만들기 위해 부모요소를 relative로 지정*/
	width: 140px;
}

#menu>li>a {
	color: black; /* 폰트 색상 */
	font-weight: 300; /* 폰트 굵기 */
	padding: 0px 20px 0px 20px; /* 패딩 지정 */
	font-size: 25px;
	text-decoration: none;
	font-family: 'Hi Melody', cursive;
}

#menu>li>ul {
	width: 130px;
	display: none;
	position: absolute;
	font-size: 20px;
	background-color: rgba(255, 235, 98);
	z-index: 2;
	border: 0.5px solid black;
}

#menu>li:hover>ul {
	display: block;
}

#menu>li>ul>li:hover {
	background-color: orange;
	transition: ease 1s;
}

#menu>li>ul>li {
	list-style: none;
	border: 0.5px solid black;
}

#menu>li>ul>li>a {
	text-decoration: none;
	color: black;
	line-height: 50px;
}
/*본문 큰틀*/
#test {
	width: 1500px;
	margin: 0 auto;
}

/* main center */
#cnt {
	background-color: white;
}

#title_header {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
}

#cnt-header_right>header {
	font-size: 20px;
}

#img {
	width: 350px;
	height: 550px;
	margin: auto;
	float: left;
}

#cnt_header {
	display: flex;
	justify-content: center;
	padding-top: 80px;
}

#cnt-header_left {
	margin-right: -100px;
}

#cnt-header_left img {
	width: 70%;
}

#cnt-header_right>span {
	float: left;
}

#box {
	width: 500px;
	line-height: 40px;
}

#detail_name {
	font-size: 18px;
	display: flex;
}

#wish {
	margin-left: 380px;
}

#price {
	font-size: 27px;
	color: red;
}

#shipping {
	padding-bottom: 40px;
	border-bottom: 1px solid;
}

.title {
	padding-right: 10px;
}

#selcbk {
	font-size: 20px;
}

#selcbk option {
	font-size: 20px;
}

#bun>span {
	float: right;
}

#sum {
	padding: 20px 0px 20px 0px;
	display: flex;
}

#number {
	text-align: center;
	margin-left: 13px;
}

#num {
	height: 40px;
	width: 60px;
	margin: 0 -10 0 -10;
}

#plus {
	width: 40px;
	margin-right: -6px;
}

#minus {
	width: 40px;
}

.sum {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	box-sizing: border-box;
	height: 40px;
}

.but {
	font-size: 24px;
	width: 160px;
	height: 40px;
	text-align: center;
}

#purchase {
	background-color: rgba(255, 235, 98);
	border: none;
}

#basket {
	background-color: wheat;
	border: none;
	margin: 0 20 0 20;
}

#list {
	float: center;
}

#list input {
	font-size: 14px;
}

#inquiry {
	width: 70px;
	height: 30px;
}

#wish {
	width: 70px;
	height: 30px;
}

#btfTab {
	margin-top: 100px;
}

#slidemenu { /* 메뉴 스크롤 이동 */
	position: sticky; /* 스크롤 이동을 위한 포지션 */
	top: 0; /* 상단 */
}

/* 상품 상세 설명메뉴 시작 */
#tab-titles { /* 메뉴 ul */
	border-top: 4px solid #555; /* 테투리 위쪽 선 */
	border-bottom: 1px solid #ccc; /* 테투리 바닥선 */
	border-left: 1px solid #ccc; /* 테투리 왼쪽선 */
	list-style-type: none; /* li스타일 변경 */
	font-size: 0;
	top: 0;
	width: 100%; /* 가로 총 길이 */
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#tab-titles>li { /* 메뉴  */
	display: inline-block; /* 가로정렬 */
	padding: 15px 20px 14px; /* 글자 기준 간격 */
	width: 33.33%; /* 가로 길이 분배 */
	border-right: 1px solid #ccc; /* 오른쪽 방향 선배치 */
	background-color: #fafafa; /* 메뉴 테두리 색상 */
	text-align: center; /* 글자 중앙 정렬 */
	color: #555; /* 글자 색상 */
	font-weight: bold; /* 글자 굵게 */
	font-size: 20px; /* 글자 크기 */
	box-sizing: border-box;
	cursor: pointer;
}

#tab-titles>li>a { /* 메뉴  */
	color: black;
	display: block;
}

#tab-titles>li.active { /* 자바스크립트 적용 클릭시, 해당 페이지 시 */
	margin-bottom: -2px; /* 해당 메뉴 아래선 제거 */
	background: #fff; /* 배경색 변경 */
	border-bottom: 1px solid #fff; /* 테투리 아래선 */
	color: #111; /* 글자 색상 */
}
/* 상품 상세 설명메뉴 끝 */

/* 상품 상세 설명 시작 */
.tab-contents {
	padding-top: 50px;
}

#product-detail img {
	width: 80%;
}

#product-detail .product-essential-info {
	margin-bottom: 30px;
}

#product-detail .product-essential-info .table-title { /* 글자태그 */
	padding-bottom: 10px; /* p태그 바닥 간격 띄우기 */
	font-size: 14px; /* 글자 크기 */
	font-weight: 700; /* 글자 굵기 */
}

#product-detail .product-essential-info table { /* 테이블 관련설정 */
	width: 100%;
	border-bottom: 1px solid #ccc;
	text-align: left;
	font-size: 1em;
	margin: 0;
}

.prod-delivery-return-policy-table th { /* 필수 표기정보 th설정 */
	padding: 12px 20px;
	border-bottom: 1px solid #eee; /* 아래선 표시 */
	background-color: #fafafa; /* 배경색  */
	color: #111; /* 글자 색상 */
	font-size: 13px; /* 글자 크기 */
	overflow: hidden;
}

.prod-delivery-return-policy-table td { /* 필수 표기정보 td설정 */
	white-space: normal; /* 공백 처리 */
	word-break: break-all; /* 줄바꿈 속성 */
	padding: 12px 16px; /* padding값 주기 */
	color: #333; /* 글자 색상 */
	border-bottom: 1px solid #eee; /* 아래선 표시 */
	border-right: none;
	border-left: none;
	border-top: none;
	line-height: 17px; /* 줄 높이 정하는 속성 */
	font-size: 13px; /* 글자 크기 */
}

#product-detail .product-detail-content-new {
	font-size: 16px
		/*! normalize.css v3.0.0 | MIT License | git.io/normalize;;;;; */;
}

#product-detail .product-detail-content.hide-overflow .product-detail-content-inside
	{
	max-height: 1200px;
	overflow: hidden;
}

#product-detail .product-detail-content-inside {
	margin-bottom: 20px; /* 아래 20px만큼 margin생김 */
}

#product-detail {
	text-align: center;
}

article.sdp-review__article__list.js_reviewArticleReviewList {
	padding: 30px 40px;
}

.sdp-review__article__list__info__user__name {
	display: inline-block;
	height: 16px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 500;
	color: #111;
	letter-spacing: 0;
	cursor: pointer;
}

.sdp-review__article__list__attachment {
	margin-bottom: 19px;
	font-size: 0;
}

.sdp-review__article__list__attachment__list {
	position: relative;
	display: inline-block;
	width: 87px;
	height: 87px;
	cursor: pointer;
	overflow: hidden;
}

.sdp-review__article__list__headline {
	margin-bottom: 8px;
	font-size: 14px;
	/* font-weight: bold; */
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sdp-review__article__list__review {
	word-wrap: break-word;
}

.sdp-review__article__list__review__content {
	font-size: 13px;
	line-height: 19px;
	color: #111;
}
/* 문의하기 */
#product-qna {
	
}

.prod-inquiry-list {
	padding: 30px 40px;
	border: 1px solid #ddd;
	background: #fff;
	padding: 30px 40xp;
	border: 1px solid #ddd;
}

.prod-inquiry-list__title {
	line-height: 40px;
	font-size: 18px;
}

.prod-inquiry-list__emphasis ul li {
	font-size: 15px;
	color: rgb(85, 85, 85);
	letter-spacing: -1px;
	font-family: "apple sd gothic neo", "malgun gothic", "맑은 고딕",
		nanumgothic, 나눔고딕, dotum, 돋움, sans-serif;
	padding: 0px 0px 0px 10px;
	margin: 5px 0px 0px;
	background:
		url(//img1a.coupangcdn.com/image/coupang/product/bg-product-inquiry-01.png)
		left 4px no-repeat;
}

.prod-inquiry-list__emphasis ul li em {
	color: #111;
	font-weight: bold;
	font-size: 13px;
}

.prod-inquiry-items {
	margin-top: 30px;
	border-top: 2px solid #777;
	border-bottom: 1px solid #ddd;
}

.prod-inquiry-list__pagination {
	padding: 20px 0 10px;
	text-align: center;
}

.prod-inquiry-item__label {
	left: 1em;
	background-color: #777;
	color: white;
}

.prod-inquiry-item__wrap {
	border-bottom: 1px solid #ddd;
}

.prod-inquiry-selected {
	margin-top: 4px;
	color: #888;
	font-size: 11px;
}

.prod-inquiry-content {
	margin-top: 10px;
	margin-bottom: 20px;
}

.prod-inquiry-item {
	position: relative;
	margin-top: 30px;
}

.prod-inquiry-time {
	right: 10px;
	top: 20px;
	color: #888;
	font-size: 12px;
}

.prod-inquiry-reg {
	position: relative;
	border-top: 1px solid #ddd;
	background-color: #fafafa;
	border-bottom: 1px solid #ddd;
}

.prod-inquiry-reg-wrap {
	padding: 0px 10px 20px 2.2em;
	display: contents;
}

.prod-inquiry-reg-label {
	left: 2.2em;
	background-color: #346aff;
	color: white;
}

.prod-inquiry-reg-author {
	
}

.prod-inquiry-reg-content {
	word-break: break-all;
	margin-top: 10px;
	margin-bottom: 20px;
}

.prod-inquiry-reg-time {
	right: 10px;
	top: 20px;
	color: #888;
	font-size: 12px;
}
/* 배송,반품 */
.prod-title {
	padding-bottom: 10px;
	font-size: 19px;
	font-weight: 700;
}

.prod-table {
	width: 100%;
	margin-bottom: 40px;
	table-layout: fixed;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	font-size: 1em;
}

.prod-table th {
	padding: 12px 16px;
	border-bottom: 1px solid #eee;
	background-color: #fafafa;
	color: #111;
	font-weight: 400;
	font-size: 14px;
	overflow: hidden;
	text-align: left;
}

.prod-table td {
	white-space: normal;
	word-break: break-all;
	padding: 12px 16px;
	color: #333;
	border-bottom: 1px solid #eee;
	border-right: none;
	border-left: none;
	border-top: none;
	line-height: 17px;
	font-size: 14px;
}

.prod-notice {
	margin-top: 2px;
	margin-bottom: 16px;
	color: #333;
	font-size: 13px;
	line-height: 17px;
}

.prod-list {
	line-height: 19px;
	font-size: 13px;
	color: #333;
}

.prod-indent {
	padding-left: 12px;
}

.product-seller {
	margin-bottom: 30px;
}

/* bottom */
.prod-text {
	padding: 8px 0 4px;
	font-size: 12px;
	font-weight: 700;
	height: 18px;
	color: #333;
	margin-bottom: 10px;
}

footer {
	width: 100%; /* 너비 */
	height: 100px; /* 높아 */
	border-top: 1px solid #222; /* 위쪽에 가로선 추가 */
	clear: both;
}

#bottomMenu {
	width: 100%;
	height: 20px;
	position: relative;
}

#bottomMenu ul {
	margin-top: 15px;
}

#bottomMenu ul li {
	float: left;
	padding: 5px 20px;
	border-right: 1px solid #ddd;
}

#bottomMenu ul li a, #bottomMenu ul li a:visited {
	font-size: 15px;
	color: #666
}

.img2 {
	width: 25px;
	height: 25px;
	border-radius: 25px;
}

#sns {
	position: absolute;
	right: 0; /* 오른쪽 끝에 배치 */
}

#sns ul li {
	border: none;
	padding: 5px;
}