@charset "UTF-8";
@import
	url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Hi+Melody&display=swap')
/**/	;
* {
	margin: 0 auto; /* 마진값 초기화 */
	padding: 0; /* 패딩값 초기화*/
	box-sizing: border-box; /* 박스 영역은 테투리까지 지정*/
	font-family: 'Edu VIC WA NT Beginner', cursive;
	font-family: 'Hi Melody', cursive;
}/**/
body{
	display:flex;
	margin: 0 auto;
	width: 100% auto;
	height: 1300px;
	text-align: center;
	position: relative;
	background-color: rgba(255, 235, 98);
	justify-content:center; 
  	align-items : center;
}
#signup{
	width:800px;
	height: 1220px;
	position: absolute;
	background-color: white;
	border-radius:100px; 
	box-shadow: 10px 10px 10px gray; 
	text-align: center;
	
}
div{
	height: 70px;
	margin-top: 20px;
}
img{
	width: 100px;
	height : 80px;
	border-radius: 25px;
	margin-top: 25px;
	box-shadow: 10px 10px 10px gray; 
}

.input{
	width: 540px;
	height: 50px;
	border-radius: 25px;
	font-size: 25px;
	text-align: center;
	box-shadow: 2px 2px 2px gray; 
	
}/**/
.bth{
	width: 120px;
	height: 40px;
	border-radius: 25px;
	font-size: 25px;
	text-align: center;
	box-shadow: 2px 2px 2px gray; 
}
.input:focus{
	border: 5px solid rgba(255, 235, 98);
	outline: none;
}
.input:focus::placeholder{
	color :  rgba(255, 235, 98);
}


#btn{
	margin-top: 30px;
	width: 300px;
	height : 60px;
	border-radius: 25px;
	font-size: 45px;
	background-color: rgba(255, 235, 98);
	border: 1px solid rgba(255, 235, 98);
	box-shadow: 10px 10px 10px gray; 
}
#btn:hover{
	background: rgba(195,195,195,0.5);
	border:1px solid rgba(195,195,195,0.5);
	outline:none;
	cursor: pointer;
}
#addrbox{
	position: relative;	
}
#searchaddr{
	width: 60px;
	height: 28px;
	position: absolute;
	top: 35px;
	right: 150px;
	border-radius: 25px;
	background-color: transparent;
}
#searchaddr:hover {
	background-color: rgba(255, 235, 98);
	border: 1px solid rgba(255, 235, 98);
	cursor: pointer;
}
#sb_btn:hover{
	background-color: rgba(255, 235, 98);
	border: 1px solid rgba(255, 235, 98);
	cursor: pointer;
}
#addrbox1{
	margin-top: 0px;
}
#numberbox{
	margin-top: 0px;
}
