@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Hi+Melody&display=swap')
	;
* {
	margin: 0; /* 마진값 초기화 */
	padding: 0; /* 패딩값 초기화*/
	box-sizing: border-box; /* 박스 영역은 테투리까지 지정*/
	font-family: 'Edu VIC WA NT Beginner', cursive;
	font-family: 'Hi Melody', cursive;
}
header{
	text-align: center;
}
div{
		text-align: center;
		margin: 0 auto; /*auto으로 화면 중앙에 배치*/
}
table, tr{
	border: 1px solid black;
}
 table {
    margin-left: auto;
    margin-right: auto;
}
tr{
	
}
td{
	width: 1200px;
}
input{
	width:100%;
	
}
  