<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.Mongle.Mapper.CommUMapper">
	<insert id="upload">
   		insert into com_attach(uuid, uploadPath, filename, image, bno)
   		values(#{uuid}, #{uploadPath}, #{filename},#{image},#{bno})
	</insert>
	<select id="uplist" resultType="org.Mongle.model.CommUVo">
   		select * from com_attach where bno=#{bno}
	</select>
	
	
	<insert id="ntinsert">
		insert into nt_attach(uuid, uploadPath, filename, image, bno)
		values(#{uuid}, #{uploadPath}, #{filename}, #{image}, #{bno})
	</insert>
	<delete id="deleteAll">
		delete from nt_attach where bno=#{bno}
	</delete>
	<select id="ntlist" resultType="org.Mongle.model.CommUVo">
		select * from nt_attach where bno=#{bno}
	</select>
</mapper>