<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.Mongle.Mapper.CommReplyMapper">
	<insert id="rewrite">
		insert into com_reply(reply, id, bno)
		values(#{reply},#{id},#{bno})
	</insert>
	<select id="list" resultType="org.Mongle.model.CommReplyupVo">
		select * from com_reply where bno=#{bno}
	</select>
	<delete id="remove">
		delete from com_reply
		where rno=#{rno}
	</delete>
	<update id="modify">
	update com_reply
	set reply=#{reply}
	where rno=#{rno}
</update>
</mapper>