<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.Mongle.Mapper.EventMapper">
  
 	<insert id="rewrite">
 		insert into event_reply(reply,id,bno)
		values(#{reply},#{id},#{bno});
 	</insert> 
 	
 	</mapper>