<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.Mongle.Mapper.shopMapper">
	<!-- 상품 등록 -->
	<!-- 제목, 내용을 writing테이블 insert -->
	<insert id="write">
		<!-- order:"대문자만사용" -->
		<selectKey keyProperty="bno" order="BEFORE" resultType="int">
			<!-- select 값을 keyProperty="bno"에 추가BEFORE로 먼저 -->
			select ifnull(MAX(bno)+1,1)from
			writing
		</selectKey>
		insert into writing(bno, w_name, w_price, w_color, w_type, w_Quantity)
		values(#{bno}, #{w_name}, #{w_price}, #{w_color}, #{w_type},
		#{w_Quantity})
	</insert>

	<!-- 상품 목록 리스트,번호 -->
	<select id="shop" resultType="org.Mongle.model.shopVO">
		SELECT rownum,bno,w_name,w_price,w_regdata,w_color,w_type,w_quantity,
		Concat(Replace(p_upload, '\\','/'),'/s_' ,p_uid,'_' ,p_name)AS file
		FROM (SELECT @rownum:=@rownum+1 rownum, t.*
		FROM (SELECT *FROM (SELECT
		p_uid,p_upload,p_name,p_image,
		w.bno,w_name,w_price,w_regdata,w_color,w_type,w_quantity
		FROM writing w
		JOIN product p ON w.bno = p.bno
		WHERE p_image = 1 )AS j GROUP BY bno
		<if test="keyword != null">
			<choose>
				<when test="type == 'T'.toString()">
					where w_name like concat('%',#{keyword},'%') </when>
				<when test="type == 'C'.toString()">
					where w_type like concat('%',#{keyword},'%') </when>
				<otherwise>
					where w_name like concat('%',#{keyword},'%') or w_type
					like
					concat('%',#{keyword},'%')
				</otherwise>
			</choose>
		</if>
		) AS t, (SELECT @rownum:=0) AS tmp
		ORDER BY bno DESC) AS balist
		<![CDATA[
		where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
		]]>
	</select>

	<!-- 상품 상세내용 -->
	<select id="detail" resultType="org.Mongle.model.shopVO">
		select*from writing w join
		product p on w.bno = p.bno where
		w.bno=#{bno};
	</select>

	<select id="total" resultType="int">
		select count(*) from writing w join product p on w.bno = p.bno
		<if test="keyword != null">
			<choose>
				<when test="type == 'T'.toString()"> where w_name like concat('%',#{keyword},'%') </when>
				<when test="type == 'C'.toString()"> where w_type like concat('%',#{keyword},'%') </when>
				<otherwise> where w_name like concat('%',#{keyword},'%') or w_type
					like concat('%',#{keyword},'%') </otherwise>
			</choose>
		</if>
	</select>


	<!-- 상품 수정 -->
	<!-- <update id="modify"> update writing set w_name=#{w_name}, w_price=#{w_price}, 
		w_color=#{w_color}, w_type=#{w_type}, w_Quantity=#{w_Quantity} where bno=#{bno} 
		</update> -->

	<!-- 상품 삭제 -->
	<!-- <delete id="remove"> delete from writing where bno=#{bno} </delete> -->
</mapper>