<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.Mongle.Mapper.shopMapper">
	<!-- 상품 등록 -->
	<!-- 제목, 내용을 writing테이블 insert -->
	<insert id="write">
		<!-- order:"대문자만사용" -->
		<selectKey keyProperty="bno" order="BEFORE" resultType="int">
			<!-- select 값을 keyProperty="bno"에 추가BEFORE로 먼저 -->
			select ifnull(MAX(bno)+1,1)from
			writing
		</selectKey>
		insert ignore into writing(bno,w_name,w_price,w_Quantity,w_type)
		values(#{bno}, #{w_name}, #{w_price},#{w_Quantity},#{w_type})
	</insert>
	<!-- 상품분류 -->
	<select id="c_type1"
		resultType="org.Mongle.model.shopCategoryVO">
		select distinct(c_type1) from Category
	</select>
	<select id="c_type2"
		resultType="org.Mongle.model.shopCategoryVO">
		select c_type2 from Category
		where c_type1=#{c_type1}
	</select>

	<!-- 상품 등록 리스트 -->
	<select id="shop_list" resultType="org.Mongle.model.shopVO">
		select
		w.bno,w_name,w_price,w_regdata,w_quantity,vision,Concat(Replace(p_upload,'\\','/')
		,'/',p_uid,'_'
		,p_name)AS filem
		from writing w JOIN product p ON w.bno =
		p.bno WHERE
		p_image = 1 and
		vision = 'm' ORDER BY w.bno;
	</select>

	<!-- 상품 상세내용 -->
	<select id="main" resultType="org.Mongle.model.shopVO">
		select
		w.bno,w_name,w_price,w_regdata,w_quantity,vision,Concat(Replace(p_upload,
		'\\','/')
		,'/',p_uid,'_'
		,p_name)AS filem
		from writing w join product p
		on w.bno = p.bno where
		w.bno = #{bno} and
		vision = 'm';
	</select>
	<select id="sub" resultType="org.Mongle.model.shopVO">
		select
		w.bno,w_name,w_price,w_regdata,w_quantity,
		Concat(Replace(p_upload,
		'\\','/'),'/',p_uid,'_'
		,p_name)AS filem
		from writing w join product p
		on w.bno = p.bno where
		w.bno = #{bno} and
		vision = 's' ;
	</select>

	<!-- 문의 등록 -->
	<insert id="s_write">
		<!-- order:"대문자만사용" -->
		<selectKey keyProperty="rno" order="BEFORE" resultType="int">
			<!-- select 값을 keyProperty="bno"에 추가BEFORE로 먼저 -->
			select ifnull(MAX(rno)+1,1)from
			shop_item
		</selectKey>
		insert into shop_item(rno, bno, s_id, s_question,s_title, s_answer,
		s_Confirm)
		values(#{rno},#{bno},#{s_id},#{s_question},#{s_title},#{s_answer},#{s_Confirm})
	</insert>

	<!-- 문의 리스트 -->
	<select id="s_item" resultType="org.Mongle.model.shopitemVO">
		select * from shop_item i join
		writing w on i.bno= w.bno where i.bno =
		#{bno}
	</select>

	<!-- 상품 수정 -->
	<update id="modify"> update writing
		set
		w_name=#{w_name},w_price=#{w_price},w_Quantity=#{w_Quantity}
		where
		bno=#{bno}
	</update>

	<!-- 상품 삭제 -->
	<delete id="remove"> delete w, p from writing as w join product as p on
		w.bno = p.bno where w.bno= #{bno};
	</delete>

	<!-- shop페이지 total -->
	<select id="total" resultType="int">
		select count(*) from writing w
		join product p on w.bno = p.bno where
		vision = "m"
	</select>

	<!-- 상품 목록 리스트,번호 -->
	<select id="page" resultType="org.Mongle.model.shopVO">
		select
		rownum,bno,w_name,w_price,w_regdata,w_quantity,w_type,vision,Concat(Replace(p_upload,
		'\\','/'),'/'
		,p_uid,'_' ,p_name)AS filem
		from(
		select @rownum:=@rownum+1
		rownum, a.*
		from( select *
		from(
		select
		w.bno,w_name,w_price,w_regdata,w_quantity,w_type,vision,p_upload,p_uid,p_name
		from writing w join product p on w.bno = p.bno where w_type=#{w_type}
		and
		p_image = 1 and vision = 'm')as j) as a,(
		select @rownum:=0)as tmp
		<if test="w_type != null">
			<choose>
				<when test="type == 'new'.toString()">
					ORDER BY bno desc
				</when>
				<when test="type == 'row'.toString()">
					ORDER BY w_price
				</when>
				<when test="type == 'hi'.toString()">
					ORDER BY w_price desc
				</when>
			</choose>
		</if>
		) as balist;
	</select>

	<select id="shop" resultType="org.Mongle.model.shopVO">
		select
		rownum,bno,w_name,w_price,w_regdata,w_quantity,w_type,s_type,vision,Concat(Replace(p_upload,'\\','/'),'/',p_uid,'_'
		,p_name)AS filem
		from(select @rownum:=@rownum+1 rownum, a.*from( select
		*
		from(select
		w.bno,w_name,w_price,w_regdata,w_quantity,w_type,s_type,vision,p_upload,p_uid,p_name
		from writing w join product p on w.bno = p.bno where p_image = 1 and
		vision = 'm')as j) as a,(select @rownum:=0)as tmp
		<if test="s_type != null">
			<choose>
				<when test="type == 'new'.toString()">
					ORDER BY bno desc
				</when>	
				<when test="type == 'row'.toString()">
					ORDER BY w_price
				</when>
				<when test="type == 'hi'.toString()">
					ORDER BY w_price desc
				</when>
			</choose>
		</if>
		) as balist;
	</select>

	<!-- 장바구니 담기 -->
	<insert id="cartinsert">
		<selectKey keyProperty="cartbno" order="BEFORE"
			resultType="int">
			<!-- select 값을 keyProperty="bno"에 추가BEFORE로 먼저 -->
			select ifnull(MAX(cartbno)+1,1)from
			cart
		</selectKey>
		insert into cart(cartbno, prodbno, quantity, id)
		values(#{cartbno}, #{prodbno}, #{quantity}, #{id})
	</insert>
</mapper>