
.main{
	height: 100%;
	width: 100%; 
	display: flex;
	margin: 0 auto;
}
#ls{
	width: 15%;
	height: 100%;
	padding:20px;
}

#cn{
	width: 70%;
	height: 100%;	
	padding:20px;
	
}


#rs{
	width: 15%;
	height: 700px;
	background-color: orange;
}

#bnimg{
	width: 150px;
	padding-top:10px;
}

#list{
	border: 1px solid black;
	border-collapse: collapse;
	margin-top: 25px;
	font-size:20px;
	text-align: center;
	
}
#list td{
	border: 1px solid black;
}
#list tr{
	height: 30px;
}

#place-list>li{
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding:10px;
	margin:10px;
}

.slt{
	width:100%;
	height: 50px;
	border-radius: 10px;
	font-weight: bold;
	background-color: #c0c0c0;
	text-align: center;
	padding:5px;
}

#loc-select{
	font-size: 20px;
	font-weight: bold;
}
.button{
	width:80px;
	height: 30px;
	border-radius: 7px;
	font-size:15px;
	font-weight: bold;
	border:0px;
	float: right;
}

#writetitle{
	width:800px;
	height: 30px;
}
#writecontent{
	width:800px;
}
a{
	text-decoration: none;
	color:black;
}